.boxes{
    display: flex;
    margin-top: 100px;
    &::before{
        content: '';
        width: 1300px;
        height: 3px;
        background-color: rgb(83, 182, 182);
        position: absolute;
        left: 140px;
        top: 880px;
        border-radius: 5px;
    }
    
    .box1{
        display: flex;
        margin-left: 130px;
        text-align: right;
        position: relative;
        p{
            color: rgb(164, 163, 163);
        }
        h3{
            font-size: 20px;
        }

        .icon{
            font-size: 35px;
            margin: {
                top: 15px;
                left: 15px;
            }
            color: rgb(78, 211, 211);
        }
    }

}
